server:
  port: 8010

spring:
  application:
    name: chat-service

  ai:
    openai:
      api-key: ${OPENAI_API_KEY}
      chat:
        base-url: https://generativelanguage.googleapis.com
        completions-path: /v1beta/openai/chat/completions
        options:
              model: gemini-2.0-flash

logging:
  level:
    org.springframework.ai: DEBUG