@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

:root {
    --primary-color: #2c3855;
    --primary-color-dark: #435681;
    --text-dark: #333333;
    --text-light: #767268;
    --extra-light: #f3f4f6;
    --white: #ffffff;
    --max-width: 1200px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section__container {
    max-width: var(--max-width);
    margin: auto;
    padding: 5rem 1rem;
}

.section__header {
    font-size: 2rem;
    font-weight: 600;
    color: var(--text-dark);
    text-align: center;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    display: flex;
}

body {
    font-family: "Poppins", sans-serif;
}

nav {
    max-width: var(--max-width);
    margin: auto;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__logo {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--text-dark);
}

.nav__links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav__links .link {
    position: relative;
}

.nav__links a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 16px;
    transition: color 0.3s ease;
}

.dropdown_menu {
    display: none;
    position: absolute;
    left: 0;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    list-style: none;
    padding: 10px 0;
    min-width: 170px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 10;
    opacity: 0;
    transform: translateY(-10px);
    transition: all 0.3s ease;
}

.dropdown_menu li {
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}

.dropdown_menu li a {
    color: #333;
    font-size: 14px;
    display: block;
}

.dropdown_menu li:hover {
    background-color: #f8f9fa;
}

.dropdown_menu li a:hover {
    color: #007bff;
}

.link:hover .dropdown_menu {
    display: block;
    opacity: 1;
    transform: translateY(0);
}

.link a {
    font-weight: 500;
    color: var(--text-light);
    transition: 0.3s;
}

.link a:hover {
    color: var(--primary-color);
}

.header__container {
    padding: 1rem 1rem 5rem 1rem;
}

.header__image__container {
    position: relative;
    min-height: 500px;
    background-image: linear-gradient(to right,
            rgba(44, 56, 85, 0.9),
            rgba(100, 125, 187, 0.1)),
        url("../images/assets/header2.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 2rem;
}

.header__content {
    max-width: 600px;
    padding: 5rem 2rem;
}

.header__content h1 {
    margin-bottom: 1rem;
    font-size: 3.5rem;
    line-height: 4rem;
    font-weight: 600;
    color: var(--white);
}

.header__content p {
    color: var(--extra-light);
}

/*BOOKING*/
.booking__container {
    position: absolute;
    bottom: -5rem;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 6rem);
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 3rem 2rem;
    border-radius: 2rem;
    background-color: rgba(255, 255, 255, 0.7);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
}

.booking__container form {
    width: 100%;
    flex: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.booking__container .input__group {
    width: 100%;
    position: relative;
}

.booking__container label {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--text-dark);
    pointer-events: none;
    transition: 0.3s;
}

.booking__container input {
    width: 100%;
    padding: 10px 0;
    font-size: 1rem;
    outline: none;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid var(--primary-color);
    color: var(--text-dark);
}

.booking__container input:focus~label {
    font-size: 0.8rem;
    top: 0;
}

.booking__container .form__group p {
    margin-top: 0.5rem;
    font-size: 0.8rem;
    color: var(--text-light);
}

.booking__container .btn {
    padding: 1rem;
    outline: none;
    border: none;
    font-size: 1.5rem;
    color: var(--white);
    background-color: var(--primary-color);
    cursor: pointer;
    transition: 0.3s;
}

.booking__container .btn:hover {
    background-color: var(--primary-color-dark);
}

.popular__grid {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.popular__card {
    overflow: hidden;
    border-radius: 1rem;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
}

.popular__card:hover {
    scale: 1.1;
    transition: 0.6s;
}

.popular__content {
    padding: 1rem;
}

.popular__card__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: 0.5rem;
}

.popular__card__header h4 {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-dark);
}

.popular__content p {
    color: var(--text-light);
}

.client {
    background-color: var(--extra-light);
}

.client__grid {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.client__card {
    padding: 2rem;
    background-color: var(--white);
    border-radius: 1rem;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
}

.client__card img {
    max-width: 80px;
    margin: auto;
    margin-bottom: 1rem;
    border-radius: 100%;
}

.client__card p {
    text-align: center;
    color: var(--text-dark);
}

.service {
    background-image: url("../images/assets/service.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.service__container {
    padding-block: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.service__content {
    grid-column: 2/3;
    padding: 2rem 4rem;
    background-color: var(--white);
}

.service__list {
    list-style: none;
    margin-top: 2rem;
    display: grid;
    gap: 2rem;
}

.service__list li {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--text-dark);
}

.service__list span {
    padding: 5px 12px;
    font-size: 1.75rem;
    color: var(--text-dark);
    background-color: var(--text-light);
    border-radius: 100%;
}

.service__list li:nth-child(1) span {
    color: #60a5fa;
    background-color: #dbeafe;
}

.service__list li:nth-child(2) span {
    color: #f472b6;
    background-color: #fce7f3;
}

.service__list li:nth-child(3) span {
    color: #c084fc;
    background-color: #f3e8ff;
}

.service__list li:nth-child(4) span {
    color: #fb7185;
    background-color: #ffe4e6;
}

.reward__container {
    padding: 2rem;
    text-align: center;
    border-radius: 2rem;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
}

.reward__container p {
    margin-bottom: 1rem;
    font-weight: 600;
    color: var(--text-light);
}

.reward__container h4 {
    max-width: 500px;
    margin: auto;
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 600;
    color: var(--text-dark);
}

.reward__btn {
    padding: 1rem 3rem;
    outline: none;
    border: none;
    font-size: 1rem;
    color: var(--white);
    background-color: var(--primary-color);
    border-radius: 1rem;
    cursor: pointer;
    transition: 0.3s;
}

.reward__btn:hover {
    background-color: var(--primary-color-dark);
}

.map__container {
    width: 100%;
    height: 400px;
    margin-bottom: 20px;
}

.map {
    width: 100%;
    height: 100%;
}

.footer {
    background-color: var(--extra-light);
}

.footer__container {
    display: grid;
    grid-template-columns: 2fr repeat(3, 1fr);
    gap: 5rem;
}

.footer__col h3 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--text-dark);
}

.footer__col h4 {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-dark);
}

.footer__col p {
    margin-bottom: 1rem;
    color: var(--text-light);
    cursor: pointer;
    transition: 0.3s;
}

.footer__col p:hover {
    color: var(--text-dark);
}

.footer__bar {
    position: relative;
    max-width: var(--max-width);
    margin: auto;
    padding: 1rem;
    font-size: 0.9rem;
    font-weight: 500;
    color: var(--text-light);
    text-align: right;
    overflow: hidden;
}

.footer__bar::before {
    position: absolute;
    content: "";
    top: 50%;
    right: 28rem;
    transform: translateY(-50%);
    width: 20rem;
    height: 2px;
    background-color: var(--text-light);
}

@media (width < 900px) {
    .booking__container form {
        grid-template-columns: repeat(2, 1fr);
    }

    .popular__grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }

    .client__grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }

    .footer__container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (width < 600px) {
    .nav__links {
        display: none;
    }

    .header__container {
        padding-bottom: 25rem;
    }

    .booking__container {
        flex-direction: column;
        bottom: -25rem;
    }

    .booking__container form {
        grid-template-columns: repeat(1, 1fr);
    }

    .popular__grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .client__grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .footer__container {
        gap: 2rem;
    }
}